<%= render "shared/header" %>

<% if user_signed_in? && current_user.id == @content.user_id%>
  <div class="new-row">
      <h2>Edit</h2>
      <div class="container">
        <%= form_with(model: @content, local: true) do |form| %>
          <% if user_signed_in? %>
            <%= form.text_field :title, placeholder: "タイトル" ,class:"title-area"%><br>
            <%= form.text_area :content, placeholder: "テキスト", rows: "10" ,class:"contents-area"%><br>
          <% end %>
            <%= form.submit "Create", class:"submit" %><br>
            <%= link_to "Delete", content_path(@content.id), method: :delete, data: { confirm: '本当に削除しますか？' },class:"delete-btn"%>
        <% end %>
      </div>
  </div>
<% end %>