<%= render "shared/header" %>

<div class='main'>
  <div class="main-wraper">

    <% if user_signed_in? %>
      <%= link_to "new create", new_content_path, class: "new-edit" %>
      <div class="scroll" id="scroll">
        <% @content.each do |content| %>
          <% if user_signed_in? && current_user.id == content.user_id %>
                <ul class="main-list">
                  <li class="list-day">
                    <%= link_to  "#{l content.created_at, format: :short}", content_path(content.id), method: :get, class:"list-day-a"%> 
                    <%= link_to "#{content.title}", content_path(content.id), method: :get, class:"list-day-a"%>
                  </li>
                </ul>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>


  <% unless user_signed_in? %>
    <div id="account-box" class="account-box">
      <h1 class="top-name">sign in</h1>

      <div class="sign-box">
        <%= link_to 'log in', new_user_session_path, class: "account-btn" %>
        <%= link_to 'new account', new_user_registration_path, class: "account-btn" %>
      </div>
    </div>
  <%= render "shared/sample" %>
  <% end %>

</div>