<%= render "shared/header" %>

<% if user_signed_in? && current_user.id == @content.user_id%>
  <div class="show-box">
    <p class="day-times"><%= l @content.created_at, format: :short %></p> 
    <p class="title-show">〜<%= @content.title %>〜</p>
    <p class="contents-show"><%= @content.content %></p>
    <%= link_to "edit", edit_content_path(@content.id), method: :get, class:"edit-btn" %>
  </div>
<% end %>