
<%= render "shared/header" %>

<div class='main'>

  <div id="sign" class="sign-up-box">
    <h2 class="sign-up-name">new account</h2>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

    <%= devise_error_messages!%>

    <%= f.email_field :email, placeholder:"email", class:"sign-up-btn" %>
    <%= f.password_field :password, autocomplete: "off", placeholder:"password", class:"sign-up-btn"%>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"password", class:"sign-up-btn" %>

    <%= f.submit "Sign up", class:"submit-sign-up-btn" %>
    <% end %>
  </div>

  <%= render "shared/sample" %>
</div>